<% layout('layout') %>
<form class="form-horizontal" method="post">
	<fieldset>
		<legend>Register</legend>
		<div class="form-group">
			<label for="username" class="col-sm-2 control-label">Username</label>
			<div class="col-sm-2">
				<input type="text" name="username" id="username" class="form-control">
			</div>
			<span id="username-warning" class="help-block"></span>
		</div>
		<div class="form-group">
			<label for="password" class="col-sm-2 control-label">Password</label>
			<div class="col-sm-2">
				<input type="password" name="password" id="password" class="form-control">
			</div>
			<span id="password-warning" class="help-block"></span>
		</div>
		<div class="form-group">
			<label for="confirm-password" class="col-sm-2 control-label">Confirm Password</label>
			<div class="col-sm-2">
				<input type="password" name="confirm-password" id="confirm-password" class="form-control">
			</div>
			<span id="confirm-password-warning" class="help-block"></span>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button id="submit" type="submit" class="btn btn-sm btn-default">Register</button>
			</div>
		</div>
	</fieldset>
</form>
