<% layout(layoutView) %>
<script type="text/javascript" src="/js/reg.js"></script>
<form class="form-horizontal" method="post">
	<fieldset>
		<legend>Register</legend>
		<%-partial('./partial/input', { name: 'username', label: 'Username', type: 'text', width: 2 }) %>
		<%-partial('./partial/input', { name: 'password', label: 'Password', type: 'password', width: 2 }) %>
		<%-partial('./partial/input', { name: 'confirm-password', label: 'Confirm Password', type: 'password', width: 2 }) %>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button id="submit" class="btn btn-sm btn-primary">Register</button>
			</div>
		</div>
	</fieldset>
</form>
