body {
	padding-top: 80px;
	padding-bottom: 40px;
}

textarea {
	resize: none;
}

.detail {
	margin: 20px 40px 20px;
	font-size: 18px;
	font-family: Georgia, "Times New Roman", serif;
}
.info {
	font-size: 20px;
	font-weight: bolder;
	color: #000099;
}
