<% layout(layoutView) %>

<table class="table table-striped table-hover">
	<tr>
		<th width="10%">ID</th>
		<th width="55%">Title</th>
		<th width="35%">Radio(AC/Submit)</th>
	</tr>
	<%-partial('../partial/pro', proList) %>
</table>
