<% layout('layout') %>

<table class="table table-striped">
	<tr>
		<th width="10%">ID</th>
		<th width="70%">Title</th>
		<th width="20%">Radio(AC/Submit)</th>
	</tr>
	<%-partial('../partial/pro', proList) %>
</table>
